<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Component Vue Js</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>

	<div class="container" id="ec">
		<div class="row" style="padding-top: 20px">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						Biodata
					</div>
					<div class="card-body">
						<!-- apabila show memiliki value biodata maka yang di load adalah component biodata. 
							selain itu load component showprofile -->
						<div v-if="show == 'biodata'">
							<!-- send-data merupakan custom name yang berisi value yang dikirimkan dari child component. Sedangkan getData adalah methods yang akan menerima value yang dikirimkan. -->
							<biodata ref="form" @send-data="getData"/>
						</div>
						<div v-else>
							<showprofile :data="data"/>
						</div>
					</div>
					<div class="card-footer">
						<!--  Apabila button bernilai true maka akan di-binding disabled property sehingga tombol tidak bisa diklik. {{ button ? 'Loading...':buttonTitle }}, apabila button bernilai true, maka teks pada tombol menjadi Loading..., selain itu akan menampilkan teks sesuai dari value buttonTitle -->
						<!-- dan ketika tombol di klik akan memanggil method saveData -->
						<button class="btn btn-primary btn-sm" @click="saveData" :disabled="button">
							{{ button ? 'Loading...':buttonTitle }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>	

    <!-- Component form pengisian biodata -->
    <script type="text/x-template" id="biodataform">
    	<div>
    		<div class="form-group">
    			<label for="">Nama Lengkap</label> 
    			<input type="text" v-model="data.nama" :class="{ 'is-invalid' : valName }" class="form-control">
    		</div>
    		<div class="form-group">
    			<label for="">Email</label>
    			<input type="email" v-model="data.email" :class="{ 'is-invalid' : valEmail }" class="form-control">
    		</div>
    	</div>
    </script>
    <!-- Component untuk menampilkan biodata yang telah di inputkan -->
    <script type="text/x-template" id="showform">
    	<div>
    		<table class="table table-hover">
    			<tr>
    				<th>Nama Lengkap</th>
    				<td>:</td>
    				<td>{{ data.nama }}</td>
    			</tr>
    			<tr>
    				<td>Email</td>
    				<td>:</td>
    				<td>{{ data.email }}</td>
    			</tr>
    		</table>
    	</div>
    </script>
    <!-- Register component diatas -->
    <script>
    	Vue.component('biodata', {
    		template: '#biodataform',
    		// component dengan nama data dan 2 buah form yaitu nama dan email
    		data() {
    			return {
    				data: {
    					nama: '',
    					email: ''
    				}
    			}
    		},
    		// berisi code untuk mengosongkan form ketika component di load
    		mounted() {
    			this.data = {
    				nama: '',
    				email: ''
    			}
    		},
    		methods: {
    			// this.$emit digunakan untuk mengirimkan nilai ke parent. Adapun parameter pertama adalah custome name dan paramenter selanjutnya adalah value yang akan dikirimkan.
    			submitForm() {
    			    this.$emit('send-data', this.data)
    			}
			},
    		computed: {
    			valName() {
        			if (this.data.nama.length === 0 || this.data.nama.length > 50) {
            			return true;
        			} 
        			return false;
    			},
    			valEmail() {
        			var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        			if (re.test(this.data.email)) {
        			    return false;
        			}
        			return true;
    			}
			}		
    	})

    	// Component dengan nama showprofile yang akan men-load template dengan id #showform
    	// Code dibawah untuk meregistrasi component dengan nama showprofile
    	// Untuk mengirimkan data dari parent ke child bisa menggunakan props, 
    	// sedangkan untuk mengirim data dari child ke parent bisa menggunakan $emit.
    	Vue.component('showprofile', {
    		template: '#showform',
    		props: ['data']
    	})

    	// ROOT INSTANCE
    	new Vue({
    		el: '#ec',
    		data: {
    			show: 'biodata', // berisi nama dari component yang otomatis menampilkan component sesuai valuenya.
    			button: false, // nilai yang akan memberikan efek loading apabila tombol di tekan.
    			buttonTitle: 'Save', // Value save nanti akan berganti sesuai dengan component yang di load.
    			data: {} // menampung value yang dikirim dari component.
    		},
    		methods: {
   				saveData() {
   				    this.button = true // merubah value menjadi true
   				    // Mengecek, jika value dari show adalah biodata dan value dari valName dan valEmail tidak bernilai true maka akan menjalan perintah yang ada didalam block if.
   				    //  Fungsi dari $refs adalah untuk mengakses method dari component lain. Sedangkan form dari mana? form merupakan value dari ref yang didefinisikan ketika memanggil component.
   				    if (this.show == 'biodata' && !this.$refs.form.valName && !this.$refs.form.valEmail) {
   				    	// Dimana, kita mengatur timeout selama 1 detik kemudian mengakses method submitForm yang terdapat didalam component biodata. Lalu mengubah value dari show, buttonTitle dan mengembalikan value dari button menjadi false.
   				        setTimeout(() => {
   				            this.$refs.form.submitForm()
   				            this.show = 'showprofile'
   				            this.buttonTitle = 'Back'
   				            this.button = false
   				        }, 1000)
   				    } else {
   				    	// Selain itu, kita mengatur timeout menjadi 0,5 detik dengan mengembalikan value menjadi seperti sebelumnya.
   				        setTimeout(() => {
   				            this.data = {}
   				            this.show = 'biodata'
   				            this.button = false
   				            this.buttonTitle = 'Save'
   				        }, 500)
   				    }
   				},
   				getData(value) {
    				this.data = {
    				    nama: value.nama,
    				    email: value.email
    				}
				}
			}
    	})
    </script>
</body>
</html>